.glosario__title {
    text-align: center;
}

dl {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 20px;
    margin-bottom: 10px;
}